<main id="start">
    <h1>Select your spaceship:</h1>
    <div>
        <figure>
            <img src="/pics/spaceship1.png" alt="spaceship1"/>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </figure>
        <figure>
            <img src="/pics/spaceship2.png" alt="spaceship2"/>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </figure>
        <figure>
            <img src="/pics/spaceship3.png" alt="spaceship3"/>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </figure>
        <figure>
            <img src="/pics/spaceship4.png" alt="spaceship4"/>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </figure>
        <figure>
            <img src="/pics/spaceship5.png" alt="spaceship5"/>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </figure>
        <figure>
            <img src="/pics/spaceship6.png" alt="spaceship6"/>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </figure>
    </div>
    <section>
        <input type="text" maxlength="50" placeholder="Your name ?" id="name">
        <button id="go">GO</button>
    </section>    
</main>

<main id="game">

</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/bundle.js"></script>