<main id="index">
    <h1>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        LOOMACTICA
    </h1>
    <h1>LOOMACTICA</h1>
    <a href={{alink}}>PLAY</a>
    <div class="spaceship-text">
        <div class="link wobble" id="text-and-link">
            <p id="link-text">Click | Copy link &amp; send it to a friend:</p>
            <textarea id="copy-link" readonly>{{link}}</textarea>
            
        </div>        
        <img src="/pics/spaceship3.png" alt="spaceship" />
    </div>  
    <script src="/main.js"></script>
</main>