* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  width: 100vw;
  height: 100vh;
}

.error {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.error p {
  font-size: 3rem;
  color: red;
  text-align: center;
}

.error h1 {
  text-align: center;
}

.error h3 {
  margin-top: 10px;
  border-bottom: 1px solid grey;
  text-align: center;
  width: 90%;
}

.error a {
  margin-top: 20px;
  border: 1px solid grey;
  padding: 10px;
  color: black;
  text-align: center;
}

.error a:hover {
  background-color: #ffffd5;
}

main#index {
  background-color: #050801;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

main#index h1 {
  position: relative;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  margin: 10px;
}

main#index h1:first-child {
  color: #03e9f4;
}

main#index h1:first-child:hover {
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

main#index h1:first-child:hover + h1 {
  background-color: #03e8f43a;
  color: #050801;
  box-shadow: 0 0 5px #03e8f43a, 0 0 25px #03e8f43a, 0 0 50px #03e8f43a, 0 0 200px #03e8f43a;
}

main#index h1:first-child > span {
  position: absolute;
  display: block;
}

main#index h1:first-child > span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 8s 4s linear infinite;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

main#index h1:nth-child(2) {
  color: #03e8f43a;
  transform: scaleY(-1);
}

main#index > aside {
  width: 0;
  height: 0;
}

main#index #hexagons {
  width: 100%;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

main#index #hexagons > div,
main#index #hexagons > a {
  position: relative;
  width: 100px;
  height: 115px;
  transform: rotate(-60deg) skewY(30deg);
  background: #0f0f0f;
  overflow: hidden;
  visibility: hidden;
  margin: 5px 5px;
}

main#index #hexagons > div.row0,
main#index #hexagons > a.row0 {
  transform: rotate(-60deg) skewY(30deg) translate(0px, 0px);
}

main#index #hexagons > div.row1,
main#index #hexagons > a.row1 {
  transform: rotate(-60deg) skewY(30deg) translate(50px, 5px);
}

main#index #hexagons > div.row2,
main#index #hexagons > a.row2 {
  transform: rotate(-60deg) skewY(30deg) translate(100px, 10px);
}

main#index #hexagons > div.row3,
main#index #hexagons > a.row3 {
  transform: rotate(-60deg) skewY(30deg) translate(150px, 15px);
}

main#index #hexagons > div.row4,
main#index #hexagons > a.row4 {
  transform: rotate(-60deg) skewY(30deg) translate(200px, 20px);
}

main#index #hexagons > div.row5,
main#index #hexagons > a.row5 {
  transform: rotate(-60deg) skewY(30deg) translate(250px, 25px);
}

main#index #hexagons > div.row6,
main#index #hexagons > a.row6 {
  transform: rotate(-60deg) skewY(30deg) translate(300px, 30px);
}

main#index #hexagons > div.row7,
main#index #hexagons > a.row7 {
  transform: rotate(-60deg) skewY(30deg) translate(350px, 35px);
}

main#index #hexagons > div.row8,
main#index #hexagons > a.row8 {
  transform: rotate(-60deg) skewY(30deg) translate(400px, 40px);
}

main#index #hexagons > div.row9,
main#index #hexagons > a.row9 {
  transform: rotate(-60deg) skewY(30deg) translate(450px, 45px);
}

main#index #hexagons > div.row10,
main#index #hexagons > a.row10 {
  transform: rotate(-60deg) skewY(30deg) translate(500px, 50px);
}

main#index #hexagons > div .hexagon,
main#index #hexagons > a .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  color: white;
}

main#index #hexagons > div .hexagon.blinkClass,
main#index #hexagons > a .hexagon.blinkClass {
  animation: blink 2s linear 1;
}

@keyframes blink {
  0% {
    background-color: #0f0f0f;
  }
  30% {
    background-color: #03e8f448;
  }
  100% {
    background-color: #0f0f0f;
  }
}

main#index #hexagons > div *,
main#index #hexagons > a * {
  visibility: visible;
}

main#index #hexagons #play-link {
  grid-area: 2/1/3/2;
}

@media screen and (max-height: 420px) {
  main#index #hexagons #play-link {
    grid-area: 1/2/2/3;
  }
}

main#index #hexagons #play-link > span {
  background-color: #03e9f4;
  color: #050801;
  filter: hue-rotate(330deg);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

main#index #main-spaceship {
  position: absolute;
  top: 20vh;
  left: -100px;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotate(90deg);
  animation: spaceship 6s linear infinite forwards;
}

@keyframes spaceship {
  100% {
    left: calc(100vw + 100px);
  }
}

main#index .text {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

main#index .text > p,
main#index .text > textarea {
  color: #03e9f4;
  filter: hue-rotate(330deg);
  word-break: break-word;
  background-color: transparent;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  outline: none;
}

@media screen and (max-height: 420px) {
  main#index .text > p,
  main#index .text > textarea {
    font-size: 1rem;
  }
}

main#index .text > textarea {
  cursor: pointer;
  resize: none;
}

main#index .text > textarea:hover {
  filter: hue-rotate(10deg);
}

@media screen and (min-width: 768px) {
  main h1 {
    font-size: 2.5rem;
  }
}

#start {
  background-color: #050801;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

#start > h1 {
  margin-bottom: 10px;
  color: #03e9f4;
  filter: hue-rotate(70deg);
  text-align: center;
  font-size: 1.2rem;
}

@media (min-width: 768px) and (min-height: 333px) {
  #start > h1 {
    font-size: 2rem;
  }
}

#start > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  height: 75vh;
  max-height: 600px;
}

#start > div > figure {
  position: relative;
  width: 33%;
  max-width: 200px;
  height: 25vh;
  max-height: 200px;
  overflow: hidden;
  padding: 2px;
}

#start > div > figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#start > div > figure > span {
  position: absolute;
  display: block;
}

#start > div > figure:hover > span:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

#start > div > figure:hover > span:nth-child(3) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 2s 0.5s linear infinite;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

#start > div > figure:hover > span:nth-child(4) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 2s 1s linear infinite;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#start > div > figure:hover > span:nth-child(5) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 2s 1.5s linear infinite;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

#start > section > input {
  background-color: #03e9f4;
  color: #050801;
  filter: hue-rotate(270deg);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
}

@media (min-width: 768px) and (min-height: 333px) {
  #start > section > input {
    font-size: 1.5rem;
  }
}

#start > section #go {
  display: none;
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4;
  filter: hue-rotate(200deg);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
}

@media (min-width: 768px) and (min-height: 333px) {
  #start > section #go {
    font-size: 1.5rem;
  }
}

#game {
  background-color: #050801;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: none;
  color: yellow;
}
